body {
    background-image: linear-gradient(150deg, white, gainsboro);
}
main {
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.title-text-container {
    position: absolute; bottom: calc(50% + 8em); left: calc(50% - 10em); width: 20em;
} .title-text {
    background-clip: text; -webkit-background-clip: text;
    color: transparent; -webkit-text-fill-color: transparent;
    background-image: url(assets/sparkling-stars.gif);
/*    text-shadow: 0px 0px 10px gainsboro;  */
    filter: drop-shadow(1px 1px 1px grey);
    text-align: center;
    overflow: visible;
    font-size: 10;
} .title-text > div:first-of-type {
    font-size: 4em; text-transform: uppercase; font-weight: 900; font-style:; margin-bottom: 0.1em; letter-spacing: -0.02em;
} .title-text > div:nth-of-type(2) {
    font-size: 1.5em; font-weight: 700; font-family: oblique; font-style: italic; margin-bottom: -0.3em;
} span.title-cap {
    background-image: url('assets/coin-reserve.png'); background-size: 300%; background-position: center;
    background-clip: text; -webkit-background-clip: text;
    color: transparent; -webkit-text-fill-color: transparent;
} span.title-com {color: red; -webkit-text-fill-color: red; text-shadow: inset 0px 0px 2px white;} span.title-com::after {content: 'M'; margin-left: -0.25em;}

.help-text {
    position: absolute;
    color: white;
    font-size: 0.7em; text-align: center;
    filter: drop-shadow(1px 1px 1px grey);
    margin: 0 auto;
    width: 80%;
    left: 10%;
    top: calc(50% + 14em);
}

.help-hover:hover {cursor: pointer;}
.help-hover + .help-show {position: relative; opacity: 0; transition: 0.25s;}
.help-hover:hover + .help-show { opacity: 1; }
.help-show > span {display: inline-block;}
.help-show > span:nth-of-type(odd) {line-height: 1em;}

.side-chooser {font-size: 1.5em; cursor: pointer;}
.side-chooser > span {font-size: 1.3em; }
.side-chooser > span.unchosen-side {opacity: 0.5;}

.board-container {
    position: absolute;
    left: calc(50% - 8em);
    top: calc(50% - 7em);
}
.board {background-image: url(assets/sparkling-stars.gif); height: 16em; width: 16em; border-radius: 1em; position: relative; box-shadow: 0px 0px 5px grey;
  /* transform: rotate(1deg); */
}

.squares-container {
  margin: 0em; position: absolute;
}

.squares {background-color: white; border-radius: 0.25em; width: 4em; height: 4em; position: absolute; padding: ;
/*font-family: monospace; */
font-size: ;
box-shadow: inset 0px 1px 2px black;
  cursor: pointer;
}

.counter {background-size: 80%; height: 4em; width: 4em; background-repeat: no-repeat; background-position: center;  position: absolute; filter: drop-shadow(1px 1px 1px grey); top: 100em;}

.counter.coin {background-image: url('assets/coin-reserve.png'); }
.counter.sickle {background-image: url('assets/hammer-and-sickle.svg');}

.squares:nth-of-type(3n+1) {left: 1em;}
.squares:nth-of-type(3n+2) {left: 6em;}
.squares:nth-of-type(3n+0) {left: 11em;}

.squares:nth-of-type(1n+1) {top: 1em;}
.squares:nth-of-type(1n+4) {top: 6em;}
.squares:nth-of-type(1n+7) {top: 11em;}
/* .squares:nth-of-type(1n+10) {top: 1em;} */



.stack {
  position: absolute;
  /* bottom: calc(50% - 3em); */
  top: 0em; left: 0em;
  left: calc(50% - 8em);
  top: calc(50% - 7em);
  width:0em; height: 10em;
} .sickle-stack {
  /* left: calc(50% + 11em); */
} .coin-stack {
  /* right: calc(50% + 11em); */
}




.win-message-container {
  width: 100%; height: 17em; background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75),rgba(0,0,0,0.75),rgba(0,0,0,0));
  z-index: 30;
  position: fixed; top: calc(50% - 7.5em);
  opacity: 0;
  display: none;
}

.win-message {
  text-align: center; display: inline-block; left: 50%; position: absolute; width: 100%; top: 15%;

}

.win-message > div {position: relative; left: -50%; color: white;}

.win-message > div:nth-of-type(1) {font-size: 5em; font-style: italic; background-clip: text; -webkit-background-clip: text;
color: transparent; -webkit-text-fill-color: transparent;
/* background-image: url(assets/sparkling-stars.gif); */
background-color: white;
/*    text-shadow: 0px 0px 10px gainsboro;  */
filter: drop-shadow(5px 5px 0px black);  font-weight: 900;}
.win-message > div:nth-of-type(2) {font-size: 1.25em; filter: drop-shadow(1px 1px 0px black); color: darkgrey; font-style: italic;}
.win-message > div:nth-of-type(3) {font-size: 2em; filter: drop-shadow(2px 2px 0px black);}

.replay-win-message {cursor: pointer; font-weight: 600; font-style: italic;}

.win-message-bg-line {height: 5px; background-color: white; width: 100%; position: absolute; top: 32%; left: 0px; opacity: 0.75;}








.buttons {position: absolute; left: 1em;  top: 5em;}

.digit-buttons {top: 0; position: absolute; left: 3em;}


/*individual buttons*/
.buttons > div > div { cursor: pointer; border-radius: 0.5em; height: 1.5em; width: 2em; text-align: center;vertical-align: middle; display: table-cell;
    vertical-align: middle; line-height: 1.5em}


.digit-buttons > div {position: absolute; background-color: rgba(255,255,255,0.75); box-shadow: 0px 0px 2px white;}
.digit-buttons > div:hover {background-color: rgba(255,255,255,0.85); box-shadow: 0px 0px 10px white;}

.digit-buttons > div:nth-of-type(3n+1){left: 3em; }

/*.digit-buttons > div:nth-of-type(1){left: 0em; top: 0em}*/

.digit-buttons > div:nth-of-type(3n+2){left: 6em;}
.digit-buttons > div:nth-of-type(3n+3){left: 0em;}
.digit-buttons > div:nth-of-type(2){left: 0em; }

.digit-buttons > div:nth-of-type(1n+0){top: 6em; }
.digit-buttons > div:nth-of-type(1n+3){top: 4em; }
.digit-buttons > div:nth-of-type(1n+6){top: 2em; }
.digit-buttons > div:nth-of-type(1n+9){top: 0em; }

.operator-buttons {top: 0; position: absolute; left: 0em;}

.operator-buttons > div {position: absolute;}
.operator-buttons > div {background-color: rgba(255,128,128,0.75); box-shadow: 0px 0px 2px rgba(255,128,128,1);}
.operator-buttons > div:hover {background-color: rgba(255,128,128,0.85); box-shadow: 0px 0px 10px rgba(255,128,128,1);}

.operator-buttons > div:nth-of-type(1) {top: 0;}
.operator-buttons > div:nth-of-type(2) {top: 2em;}
.operator-buttons > div:nth-of-type(3) {top: 4em;}
.operator-buttons > div:nth-of-type(4) {top: 6em;}

.answer-buttons {position: absolute;}

.answer-buttons > div{top: 8em; left: 0em; position: absolute; background-color: rgba(128,255,255,0.75); box-shadow: 0px 0px 2px rgba(128,255,255,1);}
.answer-buttons > div:hover {background-color: rgba(128,255,255,0.85); box-shadow: 0px 0px 10px rgba(128,255,255,1);}

.answer-buttons > div:nth-of-type(1) {left: 0;}
.answer-buttons > div:nth-of-type(2) {left: 3em;}
.answer-buttons > div:nth-of-type(3) {left: 6em;}
.answer-buttons > div:nth-of-type(4) {left: 9em; height: 3.5em; top: 6em; line-height: 3em;}

.buttons > div > div.unselectable {opacity: 0.5;}
.buttons > div.digit-buttons > div.unselectable:hover {background-color: rgba(255,255,255,0.75); box-shadow: 0px 0px 2px white;}
.buttons > div.answer-buttons > div.unselectable:hover {background-color: rgba(128,255,255,0.75); box-shadow: 0px 0px 2px rgba(128,255,255,1);}
