body {

}

body {
  margin: 0;
  overflow: hidden;
}

header {
  width: 100%;
  position: absolute;
  z-index: 100;
}

header span {
  color: white;
  font-weight: 900;
  font-style: italic;
  white-space: nowrap;
  line-height: 0.8;
}

header svg {
  position: absolute;
}

img#caravan-img {
  width: 100%;
  filter: grayscale(1);
  mix-blend-mode: multiply;
}
img#caravan-img:hover {
  filter: grayscale(0);
  mix-blend-mode: normal;
}

section img {
  filter: grayscale(1);
  mix-blend-mode: multiply;
  transition: 1s;
}
section img:hover {
  filter: grayscale(0);
  mix-blend-mode: normal;
}

section article {
  transition: 0.5s;
}
section article:hover {
  color: black;
}

footer a, article a {
  color: black;
  /* transition: 0.5s; */
  text-decoration: none;
  border-bottom: 1px solid black;
}
footer a:hover, article a:hover {
  color: black;
  border-bottom: 2px solid black;
}


section img {
  max-width: 100%;
}

body {

}
main {
  background-color: pink;
  height: 100vh;
  transition: 2s;
}
#left, #right {
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: 1;
}
#left > div, #right > div {
  margin: 10px;
}
#left {
  left: 0;
  overflow-y: scroll;
  width: 100%;
  /* padding-right: 50%; */
  /* margin: 20px; */

}
#left .inner {
  /* width: calc(50% - 20px); */
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
#left::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#left {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#right {
  right: 0;
  /* background-color: gold; */
  /* background-color: pink; */
  /* opacity: 0.5; */
  background-image: url('public/assets/caravan.png');
  filter: grayscale(1);
  opacity: 0.75;
  mix-blend-mode: multiply;
  background-size: cover;
  background-position: right;
  bottom: 0;
}

.inner {
  font-family: monospace;
  color: white;
  font-size: 16px;
  /* text-shadow: 0px 0px 1px black; */
}

nav {
  text-align: right;
  color: white;
  position: absolute;
  top: 5px;
  top: 10px;
  right: 5px;
  z-index: 10;
  font-family: monospace;
  color: white;
  font-size: 16px;
  position: fixed;
}
nav span {
  border: 2px solid white;
  padding: 0.125em 0.5em;
  cursor: pointer;
  /* transition: 0.5s; */
}
nav span:hover {
  background-color: white;
  color: black;
}
nav strong {
  font-weight: normal;
  font-size: 1.5em;
  display: inline-block;
  line-height: 0;
}

@media only screen and (min-width: 800px) {
  nav span {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1000px) {
  nav span {
    font-size: 1.4em;
  }
  nav {
    top: 15px;
    right: 10px;
  }
}
/* @media only screen and (min-width: 1200px) {
  nav span {
    font-size: 1.6em;
  }
  nav {
    top: 10px;
  }
} */
/* @media only screen and (min-width: 1400px) {
  nav span {
    font-size: 1.8em;
  }
  nav {
    top: 15px;
  }
} */

/* MOBILE */
@media only screen and (max-width: 500px) {
  /* nav {
    top: 1.2em;
  } */
  header {
    top: 5px;
  }
}

/* nav bar */

nav span:first-of-type {
  display: none;
}
nav span:nth-of-type(2) {
  position: relative;
  margin-right: 0.5em;
}
nav span:nth-of-type(2)::after {
  content: '/';
  /* transform: rotate(10deg); */
  /* height: 100%; */
  width: 4px;
  /* background-color: white; */
  position: absolute;
  right: -0.5em;
  color: white !important;
}
/* nav span:nth-of-type(2) {
  transform: rotate(5deg);
  display: inline-block;
}
nav span:nth-of-type(2):hover {
  transform: rotate(10deg);
}
nav span:nth-of-type(3) {
  transform: rotate(-5deg);
  display: inline-block;
}
nav span:nth-of-type(3):hover {
  transform: rotate(0deg);
} */

/* section titles */

p.h {
  color: black;
  font-size: 2em;
  margin-bottom: 0em;
  /* border-bottom: 2px solid khaki; */
  margin-top: 0;
  background-color: initial;
}
section#music p.h {
  /* background-color: khaki; */
}
p.h2 {
  color: black;
  font-size: 1.25em;
  border-bottom: 2px solid black;
  /* text-align: right; */
}

section {
  display: none;
  background-color: white;
  color: black;
  padding: 20px;
  /* box-shadow: 0px 0px 5px grey; */
}
section:first-of-type {
  display: block;
}

/* z indexes */

#left {
  z-index: 20;
}
#right {
  z-index: 10;
}
header {
  z-index: 15;
}
nav {
  z-index: 15;
}
.inner {
  z-index: 40;
}

img.video-screen {
  border: 10px solid white;
  box-sizing: border-box;
}

footer {
  margin-top: 5em;
}

img.fake-window {
  position: relative;
}
img.fake-window::after {
  position: absolute;
  content: '';
  display: block;
  background-color: gainsboro;
  width: 100%;
  height: 100%;
  left: -5px;
  top: -10px;
}

.project p:first-of-type {
  margin-top: 0;
}
h3 {
  margin-bottom: 0.5em;
}

/*  */

article::after {
  content: '';
  clear: both;
  display: table;
}

div.screenshot {
  float: left;
  width: 300px;
  max-width: calc(100% - 4px);
  position: relative;
  margin-bottom: 0.2em;
  margin-right: 1em;
  margin-top: 0.6em;
}
div.screenshot img {
  mix-blend-mode: multiply;
  transition: 1s;
  mix-blend-mode: normal;
}
div.screenshot:hover img {
  mix-blend-mode: normal;
}
div.screenshot {
  filter: grayscale(1);
  transition: 0.1s;
  /* mix-blend-mode: multiply; */
}
div.screenshot:hover {
  filter: grayscale(0);
}
img.screenshot {
  position: relative;
  max-width: 100%;
}


a.img-link, a.img-link:hover,
.client-logos a, .client-logos a:hover {
  border-bottom: 0px solid black;
}

a.go-there {
  display: none;
}

/* fake browser window */
div.screenshot::before {
  content: ''; position: absolute; display: block;
  width: calc(100% + 4px); background-color: darkgrey;
  height: calc(100% + 8px); top: -10px; left: -2px;
  border-radius: 4px;
}

span.fbb {
  position: absolute;
  display: block;
  top: -8px;
  height: 6px; width: 6px; border-radius: 5px;
}

span.fbb.close {
  background-color: tomato;
  left: 0px;
}

span.fbb.minimise {
  background-color: gold;
  left: 10px;
}
span.fbb.expand {
  background-color: forestgreen;
  background-color: MediumSeaGreen;
  background-color: yellowgreen;
  left: 20px;
}
span.fbb.address {
  width: calc(100% - 78px);
  background-color: gainsboro;
  left: 40px;
}

#programming p a i {
  /* font-weight: 600; */
}

.client-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
}
/* .client-logos img {
  width: auto;
  height: 120px;
} */

.tech-icon {
  height: 1em;
  margin-right: 0.25em;
}
