body {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;}
.greeter-cont {position: fixed; width: 100%; height: 100%; top: 0; left: 0;}

.sparkle-bg{ position: fixed; width: 100%; height: 100%; left: 0; top: 0;  opacity: 1;}
.sparkle {
	height: 20px; width: 10px; background-image: url('public/assets/sparkle.png'); background-size: contain; position: absolute; background-repeat: no-repeat; animation: sparkle 10s 0s infinite linear;}
@keyframes sparkle {
	0%, 40%, 60%, 100% {opacity: 0}
	50% {opacity: 1;}
}

.hi {border-bottom: 2px solid plum;}

.greeter {text-align: center; margin: auto; position: relative; max-width: 00px; margin-top: 0%; top: -0px; }
.greeter-words, .greeter-info, .greeter-footer {box-shadow: 0px 0px 5px grey; border-radius: 10px; padding: 1.5em 1em 1em; background-color: white;  margin: auto; width: 400px; left: -206px; position: relative; }
label { left: 0px;max-width: 400px; position: relative; margin-top: -1em; background-color: white; margin: 0em; top: 0em;}
.greeter-words, .greeter-info { padding-top: 1.5em; }
.greeter-words {position: absolute; top: 20px; max-width: 380px; opacity: 0;}
.greeter-info {position: relative; left: -216px; max-width: 400px; min-height: 150px; padding-bottom: 0.1em;}

.top-spacer {max-height: 45%; min-height: 100px; height: 45%;}
.mid-spacer{height:55%; max-height: 55%; min-height: 50px;}
.greeter-spacer {min-height: 16px; max-height: 516px; height: 410px; position: relative;}

.greeter-body {position: relative;}
.help {height: 0; padding: 2em 0 6em; position: absolute; text-align: center; width: calc(100% - 2em);}
.arrows-lr {font-weight: normal; font-size: 1.2em; line-height: 2; color: plum;}

.greeter-footer {margin-top: 100px; max-width: 380px; position: fixed; bottom: -100px; left: calc(50% - 206px); transition: bottom: 0.5s;}
.greeter-footer p:nth-of-type(1) {margin-bottom: 0.25em; }
.greeter-footer p:nth-of-type(2) {text-align: right; margin-top: 0.5em;}
.greeter-footer a {color: cadetblue;color: darkcyan;color: lightseagreen; text-decoration: none; border-bottom: 2px solid lightseagreen;}

.greeter p {text-align: left; }
.greeter p:first-of-type {margin-top: 0;}
.greeter p:last-of-type {margin-bottom: 0;}
img.pro-pic {border-radius: 50%; height: 300px; box-shadow: 0px 0px 5px grey; margin: 20px 0; min-height: 150px; position: absolute; transform:translate(-50%, -50%); z-index: 15; max-height: 300px;}
img.pro-pic::after {content: 'helllooo'; border-radius: 50%; height: 120px; width: 120px; position: absolute; border: 1px solid black; display: block;}

.howdy-container {color: plum; font-size: 4em; font-weight: bolder; transform: rotate(180deg); animation: introspin 2s 0.2s  ease-in-out; animation-fill-mode: forwards; top: 16px; position: absolute; left: 142px; filter: drop-shadow(1px 1px 1px grey); opacity: 0; left: -8px;}
.howdy-container span {position: absolute; }
.howdy-container span:nth-of-type(1) {transform: rotate(-45deg) translateY(-300%) ;animation-delay: 0s;}
.howdy-container span:nth-of-type(2) {transform: rotate(-32deg) translateY(-300%) ; animation-delay: 0.05s;}
.howdy-container span:nth-of-type(3) {transform: rotate(-21deg) translateY(-300%) ; animation-delay: 0.1s;}
.howdy-container span:nth-of-type(4) {transform: rotate(-6deg) translateY(-300%) ; animation-delay: 0.15s;}
.howdy-container span:nth-of-type(5) {transform: rotate(+6deg) translateY(-300%) ; animation-delay: 0.25s;}
.howdy-container span:nth-of-type(6) {transform: rotate(+15deg) translateY(-300%) ; animation-delay: 0.35s;}
.howdy-container div {animation:shuffle 2.4s  forwards;}
.howdy-container div:nth-of-type(1) {animation-delay: 0s;}
.howdy-container div:nth-of-type(2) {animation-delay: 0.4s;}
.howdy-container div:nth-of-type(3) {animation-delay: 0.8s;}
.howdy-container div:nth-of-type(4) {animation-delay: 1.2s;}
.howdy-container div:nth-of-type(5) {animation-delay: 1.6s;}
.howdy-container div:nth-of-type(6) {animation-delay: 2.0s;}
@keyframes introspin {
  0% {transform: rotate(180deg); opacity: 0; }
  80% , 100% {transform: rotate(360deg); opacity: 1;}
}
@keyframes shuffle {
  0%{transform: translateX(0%) rotate(0deg);}
  20%{transform: translateX(-10%) rotate(0deg);}
  80% {transform: translateX(50%) rotate(10deg);}
  100% {transform: translateX(0%) rotate(0deg);}
}

.howdy-hide {animation: howdy_hide 0.2s 0s ease-in-out forwards;}
.howdy-show {animation: howdy_show 0.5s 0s ease-in-out both;}

@keyframes howdy_hide {
  0%{font-size: 1em;}
  100% {font-size: 0em;}
}
@keyframes howdy_show {
  0%{font-size: 0em;}
  70% {font-size: 1.2em;}
  100% {font-size: 1em;}
}

.test {position: fixed; bottom: 0; left: 0;}

.scroll-items {width: calc(50% - 60px - 200px);
	padding-top: calc(100% + 500px);
	position:absolute;}

.scroll-items.left {
  left: 30px;
}
.scroll-items.right {
  right: 30px;
}

.scroll-items.right {
  padding-top: calc(100% + 700px);
}

.scroll-item-cont {display: block; position: relative;}

.scroll-items > div > img {position: relative;}

.scroll-items > div  {margin: 50px 0; display: inline-block; transition: 0.2s;}

.scroll-items > div:hover {transform:scale(110%); }
.scroll-items > div.selected {transform:scale(120%); }

.scroll-items.left > div:nth-of-type(1)  {left:calc(50% - 60px);}
.scroll-items.left > div:nth-of-type(3)  {left:calc(70% - 60px);}

.scroll-items.right div:nth-of-type(1) {left: calc(50% - 60px); position: relative;}



.scroll-item { cursor: pointer; position: relative;}
  .box-shadow {box-shadow: 0px 0px 5px grey;}
  .drop-shadow {filter: drop-shadow(0px 0px 5px grey);}
.scroll-item:hover {transform: skew(1.1);}

p.more-info {margin: 0;}
img.still-life {filter: invert(0); }
span.still-life {display: inline-block; position: absolute; background-color: white; border-radius: 5px; padding: 5px 5px 2px; position:
relative;}
label {position: relative; opacity: 0; transition: 0.5s; z-index: 1; display: none;}
label.selected {opacity: 1; z-index: 9; display: block;}

label img {width: 25em;}

a.go-there {font-family: sans-serif; font-weight: bold; display: block; border: 3px solid lightseagreen; border-radius: 5px; text-align: center; padding: 5px 0 3px; margin-top: 12px; text-decoration: none; box-shadow: 0px 0px 5px grey; transition: 0.2s;}
a:visited.go-there {color: orchid; border: 3px solid orchid;}
a.go-there {color: lightseagreen; cursor: pointer;}
a:hover {cursor: pointer; opacity: 0.75;}
a:hover.go-there {opacity: 0.75;}

.arrow-scroller {position: fixed; bottom: 5px; right:  10px;}
span.scroll-arrow {color: plum; font-weight: bold; animation-name: arrow; animation-duration: 2s; animation-iteration-count: infinite; animation-fill-mode: ease-in-out;}

@keyframes arrow {
	0%, 100%{opacity: 1;}
	50% {opacity: 0;}

}

p.technologies {line-height: 2; margin-bottom: 0;}
.technologies img {height: 2em; width: auto;}
.technologies > img:nth-of-type(2) {height: 2.5em; position: relative; top: 0.25em;}
.technologies > img:nth-of-type(1) {margin-left: 0.75em; margin-right: 0.5em;}
.technologies > img:nth-of-type(3) {height: 1.5em;}
.technologies > img:nth-of-type(4) {bottom: -0.2em; position: relative;}
.technologies span img {letter-spacing: -0.5; margin: 0 -0.2em;}
.technologies span img:nth-of-type(1) {transform: rotate(350deg);}
.technologies span img:nth-of-type(2) {transform: rotate(10deg);}
.info-box {position: fixed; display: block; left: 0; border-radius: 10px; background-color: white; opacity: 0.8; box-shadow: 0px 0px 0px 1px lightgrey; padding: 0.25em 0.5em; display: none;}
