:root {
  --grn: limegreen;
  --ylw: gold;
  --gry: grey;
}

main {
  overflow: visible;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.yellow {
  color: var(--ylw);
  text-shadow: 1px 1px 0px var(--gry);
}
.green {
  color: var(--grn);
  text-shadow: 1px 1px 0px var(--gry);
}
.hidden {
  display: none;
}

body {
  text-align: center;
  font-size: 16px;
}
header {
  font-weight: 900;
  font-size: 2em;
  position: relative;
}
header span#next-letter {
  animation: red-green 2s infinite linear alternate;
}
@keyframes red-green {
  from {color: var(--ylw);}
  to {color: var(--grn);}
}

#next-letter {
  text-transform: uppercase;
  font-size: 1.5em;
}


#tiles .space.pre-row::before {
  background-color: var(--gry);
  height: 2px;
  top: -6px;
  width: calc(100% + 4px);
  display: inline-block;
  left: -2px;
  position: absolute;
  content: '';
  z-index: -1;
}

#tiles {
  position: relative;
  margin-top: 0.4em;
  font-size: 1.25em;
}

#tiles .space {
  height: 2em; width: 2em; border: 2px solid var(--gry);
  display: inline-block;
  margin-left: 1px;
  margin-right: 1px;
  overflow: hidden;
  overflow: visible;
  z-index: 1;
  position: relative;
  top: 0;
  line-height: 0;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  border-radius: 2px;
}

#tiles .row {
  height: 2em;
  margin: 2px 0;
}

#tiles .row.submitted .space {
  background-color: darkgrey;
  color: white;
}

#tiles .row.submitted .space.wrong-position {
  background-color: tomato;
  color: white;
}

#tiles .row.submitted .space.right-position {
  background-color: lightgreen;
  color: white;
}

#tiles .space.wrong-position {
  background-color: var(--ylw);
  color: white;
}

#tiles .space.right-position {
  background-color: var(--grn);
  color: white;
}

#tiles .space.wrong-letter {
  background-color: var(--gry);
  color: white;
}

#tiles .winning-row .space {
  animation: winningrow 1s 2 linear;
}
#tiles .winning-row.with-delay .space:nth-of-type(4) {animation-delay: -0.1s;}
#tiles .winning-row.with-delay .space:nth-of-type(3) {animation-delay: -0.2s;}
#tiles .winning-row.with-delay .space:nth-of-type(2) {animation-delay: -0.3s;}
#tiles .winning-row.with-delay .space:nth-of-type(1) {animation-delay: -0.4s;}

@keyframes winningrow {
  from {border-color: white;}
  to {border-color: var(--gry);}
}

#tiles .cleared-row .space {
  animation: winningrow 0.5s infinite linear;
}


#banner {
  background-color: white;
  z-index: 100;
  position: absolute;
  display: block;
  top: 4em;
  /* font-size: 0.8em; */
  top: 4px;
  width: calc(10em - 0px);
  height: calc(100% - 8px);
  /* width: calc(10em / 2); */

  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  background-color: rgba(255,255,255,0.75);
  /* font-size: 1.5em; */
  /* font-size: 1em; */
  border: 2px solid var(--grn);
  padding: 1em;
  font-weight: 900;
  text-shadow: 1px 2px 0px var(--ylw);
  z-index: 9;
  animation: border-banner 1s infinite alternate;
  border-radius: 5px;
  transition: opacity 5s;
  box-sizing: border-box;
}

.opaque {
  opacity: 1;
}
/* .transparent {
  opacity: 0;
} */

@keyframes border-banner {
  from {
    border: 2px solid var(--grn);
  }
  to {
    border: 2px solid var(--ylw);
  }
}

#banner.hidden {
  display: none;
}
#banner::before {
  border: 2px solid var(--ylw);
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  top: 2px;
  left: 2px;
  content: '';
  background-color: white;
  z-index: -1;
  animation: border-banner 1s infinite alternate-reverse -2s;
  border-radius: 2px;
}
#banner.fade-in {
  animation: border-banner 1s infinite alternate, fade-in 0.2s 1 linear;
}
#banner #message {
  font-size: 1.5em;
  font-size: 2.5em;
}
#banner #message div:first-of-type {
  animation: text-shadow 1s infinite alternate -2.5s;
}
#banner #message div:nth-of-type(2) {
  animation: text-shadow 1s infinite alternate-reverse -2.5s;
}
@keyframes text-shadow {
  from {
    text-shadow: 1px 2px 0px var(--ylw);
    color: var(--grn);
  }
  to {
    text-shadow: 1px 2px 0px var(--grn);
    color: var(--ylw);
  }
}
#banner #result {
  /* animation: text-shadow 1s infinite alternate -2.5s; */
  text-shadow: none;
  background-color: transparent;
  color: black !important;
  font-size: 0.8em;
  font-weight: 600;
  margin-top: 0.5em;

}

#banner #result .word-display {
  font-weight: 800;
  font-size: 1.5em;
  position: relative;
  top: 5px;
  color: var(--gry);
  font-weight: 900;
  /* font-size: 2dm */
  /* animation: text-shadow 1s infinite alternate -2.5s; */
}

#intro-banner {
  position: absolute;
  width: calc(10em - 0px);
  left: 50%;
  transform: translate(-50%);
  border: 2px solid white;
  border-radius: 5px;
  height: calc(100% - 4px);
  /* color: white; */
  /* background-color: white; */
  background-color: rgba(255,255,255,0.75);
  top: 80px;
  z-index: 20;
  top: 2px;
  padding: 0 5px;
  box-sizing: border-box;
  /* animation: border-banner 1s infinite alternate; */

}
/* #intro-banner::before {
  border: 2px solid var(--ylw);
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  top: 2px;
  left: 2px;
  content: '';
  z-index: -1;
  animation: border-banner 1s infinite alternate-reverse -2s;
  border-radius: 2px;
} */
#intro-banner .contents {
  font-size: 0.8em;
  font-weight: 600;
  margin-top: -5px;
}
/* div#intro-banner.hidden {
  display: none;
} */
#intro-banner.fade-in {
  animation: fade-in 0.2s 1 linear;
}
.fade-in {
  animation: fade-in 0.2s 1 linear;
}
@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

#buttons {
  font-size: 16px;
  margin-top: 0.2em;
  border-top: 2px solid var(--gry);
  border-top: 2px solid white;
  padding-top: 0.5em;
}
#buttons button {
  font-family: inherit;
  --sqr: calc(3em + 8px);
  /* --sqr: calc(2.25em + 8px); */
  height: var(--sqr); width: var(--sqr); border: 2px solid var(--gry);
  display: inline-block;
  font-size: 16px;
  font-size: 2em;
  font-weight: 800;
  cursor: pointer;
  --mrgn: calc(0.5em + 4px);
  color: white;
  background-color: var(--gry);
  border: solid 2px var(--gry);
  /* background-image: linear-gradient(to left, var(--grn), var(--ylw)); */
  background-size: 200%;
  border-radius: 5px;
}
#buttons button:first-of-type {
  margin-right: var(--mrgn);
}
#buttons button:nth-of-type(2) {
  margin-left: var(--mrgn);
  background-position: 100%;
}
/* #buttons button:first-of-type {

}
#buttons button:nth-of-type(2) {
  background-position: 50%;
  font-size: 2em;
  transform: rott
}
#buttons button:nth-of-type(3) {
  background-position: 100%;
} */
#buttons button.pressed {
  color: lightgrey;
  opacity: 0.75;
  top: 2px;
  position: relative;
}

#buttons button#big-restart,
#buttons button#big-start {
  position: absolute;
  left: 50%;
  width: calc(7em + 28px);
  transform: translate(-50%);
  /* display: none; */
  font-weight: 800;
}

#buttons button#big-restart.hidden, #buttons button#big-start.hidden {
  display: none;
}

#buttons button#big-start {
  /* background-image: linear-gradient(to left, var(--grn), var(--ylw), var(--grn), var(--ylw));
  background-size: 300%; */
  /* animation: bg 10s infinite linear; */
  background-color: white;
  border-color: white;
  background-image: none;
  /* transition: 0.5s; */
}
#buttons button#big-start.loaded {
  background-color: var(--gry);
  border-color: var(--gry);
  animation: bg-grey 0.5s 1 linear;
}

@keyframes bg {
  from {background-position: 100%}
    to {background-position: 0%}
}

@keyframes bg-grey {
  from {background-color: white;}
    to {background-color: var(--gry);}
}

#reset {
  margin-top: 1em;
  padding:  0.4em 0.5em;
  border: 2px solid var(--gry);
  cursor: pointer;
  color: white;
  background-color: var(--gry);
  padding:  0.5em 1.0em;
  border-radius: 5px;
}

button#reset {
  font-family: inherit;
}

#share {
  color: white;
  border: 2px solid var(--gry);
  background-color: var(--gry);
  padding:  0.2em 0.5em;
  margin-top: 0.5em;
}

#intro-title {
  position: absolute;
  left: calc(50% + 0.5em);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  height: 100%;
  width: calc(100% - 1em);
  text-align: center;
}

#intro-title .letter {
  display: inline-block;
  position: relative;
  color: gold;
  top: 0.5em;
  animation: title-color 5s infinite alternate linear;
}

@keyframes title-color {
  from {color: var(--ylw)}
    to {color: var(--grn)}
}

#tumbleweed-cont {
  position: absolute;
  left: 50%;
  top: 0;
  top: 20px;
  transform: translate(-50%);
}

#tumbleweed {
  position: absolute;
  left: 20px;
  top: 0px;
  animation: tumble-round 4s infinite linear, tumble-bounce 1s infinite ease-in alternate, tumble-across 4s infinite linear;
}

@keyframes tumble-round {
  from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes tumble-bounce {
  from {top: 1em;}
    to {top: 1.5em;}
}
@keyframes tumble-across {
  0% {left: -10em; opacity: 0;}
  50% {left: 0; opacity: 1;}
    100% {left: 10em; opacity: 0;}
}

#tumbleweed div {
  position: absolute;
}


#score {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
}
