body {margin: 0; background-color: black;}

/* TOP PLAYER */

#top-player-bar {height: 26px; border: 2px solid transparent; background-color: black; overflow: visible; z-index: 30; position: static;}

#top-player-inner {height: 30px; width: calc(100% - 4px); border-radius: 7px; border: 2px solid white; position: relative; z-index: 40; background-color: black; transition: 0.4s;}

#buttons-container {background-color: white; display: inline-block; padding: 0; border-right: 5px solid white; height: 30px;}
#buttons-container .control-buttons {height: 30px; width: 30px; background-size: contain; display: inline-block;  background-color: black; cursor: pointer;}
#buttons-container .control-buttons:hover {background-color: dimgray;}
#prev-button {background-image: url(assets/transpixelbutton-prev.png);}
#rev-button {background-image: url(assets/transpixelbutton-reverse.png);}
#play-button {background-image: url(assets/transpixelbutton-play.png);}
#ff-button {background-image: url(assets/transpixelbutton-forward.png);}
#next-button {background-image: url(assets/transpixelbutton-next.png);}



#lyrics-button {background-color: white; color: black; position: absolute; top: 0; right: 0; height: 100%;  padding: 0 10px; line-height:30px; font-family: monospace; text-decoration: underline wavy; cursor: pointer; font-family: 'trebuchet ms'; text-transform: uppercase; font-size: 10px; letter-spacing: 6px; width: 60px;
    background-image: url('assets/info-blk.png'); background-color: white; background-repeat: no-repeat; background-size: contain; background-position: center;}
#lyrics-button:hover {background-blend-mode: hard-light;}


#lyrics-drawer {border-radius: 7px; position: absolute; width: calc(100% - 8px); border: 2px solid white;  z-index: 30; top: 2px; background-color: black; padding-top: 30px; transition: 0.4s; color: white; overflow: hidden; font-family: 'trebuchet ms'; font-size: 80%;}
#lyrics-drawer::-webkit-scrollbar, #lyrics-box::-webkit-scrollbar {display: none;} #lyrics-drawer, #lyrics-box {-ms-overflow-style: none; scrollbar-width: none;}

#lyrics-drawer.closed {max-height: 0px; height: 0px;}
#lyrics-drawer.open {max-height: calc(100vh - 40px); height: 100%; overflow-x: scroll;}

#lyrics-box {column-count: 2; column-gap: 10px; margin: 10px; overflow-x: auto; width: calc(100% - 20px); /*height: calc(100% - 20px);stops weirdness on open*/ height: calc(100vh - 50px); display: inline-block; padding-bottom: 0px; bottom: -10px; position: absolute;}

@media only screen and (min-width: 660px) {#lyrics-box {column-count: 3;}}
@media only screen and (min-width: 900px) {#lyrics-box {column-count: 4;}}
@media only screen and (min-width: 1150px) {#lyrics-box {column-count: 5;}}
@media only screen and (min-width: 1400px) {#lyrics-box {column-count: 6;}}
@media only screen and (min-width: 1600px) {#lyrics-box {column-count: 7;}}

#lyrics-box img {width: 100%;}
#lyrics-box .track-title{font-family: luminari;  position: relative;
border-bottom-right-radius: 10px; background-color: white; padding-top: 0; border-bottom: 0;margin-bottom: -10px; margin-top: 10px; font-size: 0; border-right: 20px solid black; border-left: 10px solid black;}

#lyrics-box .track-lyrics {margin-bottom: 1.1ch;}

#lyrics-box .big-letter {display:inline; height: 1em; float: left;  font-size: 2em; font-family:luminari; padding: 0 7px 0 2px; margin: 0;}

#lyrics-box .track-title.currently-playing {animation: rainbowAnimBG 10s linear infinite; }

@keyframes rainbowAnimUnderline {
    0%,100% {border-color: tomato;} 30% {border-color: gold;} 60% {border-color: dodgerblue;} 75% {border-color: hotpink;}
}

/* SCRUBBING BAR 247*/

#scrubbingcontainer{width: calc(100% - 251px); height: 28px;border: white 1px solid; position: absolute; top: 0; left: 170px; cursor: pointer;}
#scrubbingbar{width: 100%; height: 100%;  position: absolute; }
#scrubbingbarplayed {background-color: white; opacity: 1;}
#scrubbingbarbuffered, #scrubbingbarplayed {position: absolute; height: 100%; top: 0px; left: 0px;}
#scrubhead { width: 0px;height: 10px; }
#scrubheadhandle {width: 0px;height: 28px; left: 0px; top: 0;position: absolute; }


/* MAIN SIZING */


#page-container {height: calc(100% - 30px); width: 100%; position: absolute; bottom: 0; background-color: black;}
#big-back-container {height: 100%; width: 100%; position: absolute;  max-height: 720px; bottom: 0;}

.big-back-background { background-position: center; background-repeat: no-repeat; background-image: url(assets/bigback-trans-1540x2380.png); width: 100%; background-size: cover; height: 100%; position: absolute; z-index: 5;}

#big-back-white-underlay {height: 100%; position: absolute; background-color: /*to stop load weirdness*/; width: 100%; bottom: 0px;}

/* these contain both*/
#clicks-container {width: calc(1000% / 11); margin: auto;  }

/* these contain all the svg and click events: track and man */
#inner-clicks-container, #track-underlay-container {width: 100%; left: 0;
height: calc(1000% / 11); top: calc(50% / 11); position: absolute;}

#inner-clicks-container {z-index: 14;}

/*#track-underlay-extras-container {width: 100%; left: 0;

height: calc(1000% / 11); top: calc(50% / 11); position: absolute;}

.svg-track-underlay-extra {animation: underlayExtraAnim 10s linear infinite; opacity: 0.66;}

@keyframes underlayExtraAnim {
0%,12.5%,37.5%,100%{opacity: 1;}25% {opacity: 1;}}

#moon {fill: aqua;}
*/

/* EXTRAAAS \/\/\/\/\/ */

/* .extra-underlays {opacity: 0; z-index: 4;  position: absolute; }

@keyframes wavesAnim {
    0%, 30%,100% {opacity: 0; top: 12%;}
    10%,20% {opacity: 1; top: 12%;}
    31%, 60%{opacity: 0; top: 9%;}
    40%,50%{opacity: 1; top: 9%;}
}
#extra-waves {top: 9%; left: -13%; background-color: aquamarine; height: 3%; width: 20%;  transform: rotate(-6deg); animation: wavesAnim 10s linear infinite 4s; }


@keyframes swirlsAnim {

    0% {top: 93%; left: 89%;}
    10% {top: 88%; left: 95%; }
    20% {top: 95%; left: 96%;}
    30% {top: 100%; left: 81%;}
    40% {top: 100%; left: 100%;}
}
#extra-swirls {top: 100%; left: 81%;  background-color: palevioletred; height: 5%; width: 5%; animation: swirlsAnim 20s step-end infinite, extrasLngAnim 2s linear infinite; }

@keyframes extrasAnim {
    0%, 15%,100% {opacity: 0; }
    5%,10% {opacity: 1; }
}
@keyframes extrasQckAnim {
    0%, 30%,100% {opacity: 0; }
    10%,20% {opacity: 1; }
}
@keyframes extrasLngAnim {
    0%, 90%,100% {opacity: 0; }
    20%,80% {opacity: 1; }
}
#extra-moon {top: 9%; left: 98%;  background-color: paleturquoise; height: 8%; width: 7%;  animation: extrasAnim 22s linear infinite 13s; }

#extra-earth {top: 8%; left: 47.5%;  background-color: dodgerblue; height: 6%; width: 6%;  animation: extrasAnim 26s linear infinite 2s; border: 1% solid dodgerblue;}
#extra-earth-inner {top: 15%; border-radius: 50%; height: 55%; width: 58%; position: absolute; left: 20%; background-color: palegreen; animation: inherit;}

#extra-cross {top: 96%; left: 47%;  background-color: gold; height: 8%; width: 5%;  animation: extrasAnim 17s linear infinite 2s; }

#extra-sun {top: 65%; left: 97%; background-color: gold; height: 10%; width: 9%;  animation: extrasAnim 18s linear infinite 5s; }

#extra-heart {top: 77%; left: 39%; background-color: tomato; height: 6%; width: 6%;  animation: extrasAnim 30s linear infinite 12s; }

#extra-bum {top: 77%; left: 94%; background-color: peachpuff; height: 8%; width: 6%;  animation: extrasAnim 17s linear infinite 16s; }

#extra-bug {top: 22%; left: 76%; background-color: plum; height: 5%; width: 5%;  animation: extrasAnim 29s linear infinite 10s; }

#extra-leaf {top: 26%; left:26%; background-color: palegreen; height: 4%; width: 5%;  animation: extrasAnim 15s linear infinite 3s; }

#extra-flower {top: 42%; left: 88%; background-color: hotpink; height: 6%; width: 6%;  animation: extrasAnim 15s linear infinite 12s; }
    #extra-flower-inner {top: 35%; left: 25%; width: 40%; height: 40%; border-radius: 50%; background-color: gold;animation: inherit;}

#extra-eye {top: 16%; left: 95%; background-color: powderblue; height: 32%; width: 40%;  animation: extrasAnim 13s linear infinite 10s; border-radius: 50%;top: 26%; left: 95%;height: 10%; width: 11%;}

#extra-angel {background-color: lemonchiffon; animation: extrasAnim 22s linear infinite 16s; top: 32%; left: -9%;height: 9%; width: 9%;}

@keyframes heartAnim {
    0%, 20% {background-color: white;}
    10% {background-color: tomato; }
}
#extra-heart1 {top: 59%; left: -13%; height: 19%; width: 16%;  animation:  heartAnim 10s step-end infinite 3s, extrasLngAnim 1s linear infinite; opacity: 1;border-radius: 10%;}
    #extra-heart1-inner {top: 16%; left: 14%; width: 67%; height: 70%; border-radius: 50%;  animation: heartAnim 10s step-end infinite 2s;opacity: 1;}
        #extra-heart1-inner-inner {top: 20%; left: 14%; width: 67%; height: 60%; border-radius: 50%; animation: heartAnim 10s step-end infinite 1s; opacity: 1;}

#extra-heart2 {top: 88%; left: -5%; height: 17%; width: 16%; animation:  heartAnim 10s step-end infinite 8s, extrasLngAnim 1s linear infinite; opacity: 1; border-radius: 40%;}
    #extra-heart2-inner {top: 16%; left: 14%; width: 67%; height: 70%; border-radius: 50%; animation:  heartAnim 10s step-end infinite 7s; opacity: 1;  }
        #extra-heart2-inner-inner {top: 25%; left: 25%; width: 55%; height: 55%; border-radius: 50%;animation:  heartAnim 10s step-end infinite 6s; opacity: 1;}
 */


/* SVGS */

#svg-track-overlay-box, #svg-track-underlay-box {position: absolute; bottom: 0; left: 0;}

#svg-track-overlay-box {z-index: 20;}
#svg-track-overlay-box .svg-track-overlay {cursor: pointer; fill: black; opacity: 0; z-index: 20;}
#svg-track-overlay-box .svg-track-overlay:hover {fill: black; opacity: 0.4;}

#svg-track-underlay-box {z-index: 0;}
#svg-track-underlay-box .svg-track-underlay {fill: /*blank to stop load weirdness*/;}
#svg-track-underlay-box .svg-track-underlay.selected-track {animation: rainbowAnim 10s linear infinite; opacity: 0.66;}

@keyframes rainbowAnim {
0%,100% {fill: tomato;}30% {fill: gold;}60% {fill: dodgerblue;}75% {fill: hotpink;}}

/* CERAMIC MAN */

#ceramic-man {background-image: url(assets/man.png); width: 50%; height: 50%; position: absolute;  background-position: center; background-repeat: no-repeat; top: 25%; left: 25%; cursor: pointer; z-index: 25; overflow: visible; }
@media screen and (min-width: 500px) {#ceramic-man {background-size:52%;}}

#ceramic-shimmer {position: absolute; top: 0;   border-radius: 50%; left: 0; background-image: linear-gradient(135deg, rgba(255,255,255,0) 40%,rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 60%); background-size: 300%; background-position:0%; animation-name: shimmeranim; animation-duration: 5s; animation-direction: normal; animation-iteration-count: infinite; animation-timing-function: linear; z-index: 22;}

@keyframes shimmeranim {
    0% {background-position:-10%;} 40% {background-position:-10%;} 47.5% {background-position:110%;} 100% {background-position:110%;}}

/* MOBILE */
#top-player-lyric-blackout {display: none;}

@media screen and (max-width: 500px) {
    #buttons-container {height: calc(100vw / 5); border-right: 0;}
    #buttons-container .control-buttons {height: calc(20vw - 5px); width: calc(20vw - 5px); -webkit-tap-highlight-color: transparent;}
    #buttons-container .control-buttons:hover {background-color: black;}
    #buttons-container .control-buttons:active {background-color: dimgray;}

    #next-button {border-right: 1px solid white;}

    #top-player-bar {height: calc(36vw - 10px); }
    #top-player-inner {height: 100%; width: calc(100% - 4px);}

    #scrubbingcontainer{width: calc(70% - 13px); height: calc(16vw - 11px); top: calc(20vw - 5px); left: 0; position: absolute; border: 0; border: 3px solid white; border-radius: 0 0px 5px 5px; border-radius: 0; border-right: 5px solid white;}

    #lyrics-button {position: absolute; bottom: 0px; right: 0px; height: calc(44% - 5px); top: calc(20vw - 5px); padding: 6px 0px 0px 10px; line-height:30px;  font-size: 16px; letter-spacing: 8px; border-radius: 0px 0px 6px 0px; width: 30%; background-image: url(assets/info-blk.png); background-color: white; background-repeat: no-repeat; background-size: 66%; background-position: center;}

    #lyrics-drawer {border-radius: 7px;  font-size: 60%; position: absolute; height: calc(100% - 36vw - 10px); top:; border-top: 0; border-top-left-radius: 0; border-top-right-radius: 0; }


    #lyrics-drawer.closed { top: calc(36vw - 100% + 36vw + 10px);height: calc(100% - 36vw - 24px);}
    #lyrics-drawer.open {  overflow-x: scroll; top:calc(36vw - 10px);height: calc(100% - 36vw - 24px); }

    #lyrics-box {column-count: 2; column-gap: 10px; margin: 10px; overflow-x: auto; width: calc(100% - 20px); /*height: calc(100% - 20px);stops weirdness on open*/ height: calc(100% - 20px); display: inline-block; padding-bottom: 0px; bottom: 0px; position: absolute; }

    .extra-underlays {display: none;}

    #top-player-lyric-blackout {display: block; background-color: black; z-index: 36; width: 100%; height: calc(36vw - 10px); top: 0; position: absolute; left: 0;}

}


@keyframes rainbowAnimBG {
    0%,100% {background-color: tomato;} 30% {background-color: gold;} 60% {background-color: dodgerblue;} 75% {background-color: hotpink;}
    }


/* END MOBILE */

#lyrics-drawer #scroll-arrow {
  content: '>';
  color: black;
  bottom: 10px;
  right: 10px;
  position: absolute;
  font-size: 2em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  background-color: white;
  text-align: center;
  line-height: 0.92;
  cursor: default;
}
#lyrics-drawer #scroll-arrow.hidden {
  opacity: 0;
  transition: 1s;
}
