main {
  overflow: hidden;
}

body {
  text-align: center;
  font-size: 16px;
}
header {
  font-weight: 900;
  font-size: 2em;
}
header span {
  animation: red-green 2s infinite linear alternate;
}
@keyframes red-green {
  from {color: tomato;}
  to {color: lightgreen;}
}

#tiles {
  position: relative;
  margin-top: 0.4em;
}

#tiles .space {
  height: 2em; width: 2em; border: 2px solid grey;
  display: inline-block;
  /* margin: 0px; */
  margin-left: 2px;
  margin-right: 1px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  top: 0;
  /* line-height: 0; */
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}

#tiles .row {
  /* margin-bottom: 10px; */
  /* height: 1em; */
  /* line-height: 0; */
  height: 2em;
  margin: 2px 0;
}

#tiles .row.submitted .space {
  background-color: darkgrey;
  color: white;
}

#tiles .row.submitted .space.wrong-position {
  background-color: tomato;
  color: white;
}

#tiles .row.submitted .space.right-position {
  background-color: lightgreen;
  color: white;
}

#keyboard-cont {
  position: fixed;
  bottom: 0; width: 0;
}
#keyboard {
  /* margin-top: 1em; */
  position: relative;
  position: absolute;
  display: inline-block;
  /* margin: auto; */
  bottom: 0px;
  left: 0;
}

#keyboard .key {
  background-color: gainsboro;
  margin: 2px;
  width: 2em;
  /* box-sizing: content-box; */
  border-radius: 5px;
  cursor: pointer;
  height: 4em;
  text-align: center;
  text-transform: uppercase;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#keyboard .key.key-in-word {
  /* background-color: grey; */
  color: white;
}

#keyboard .enter, #keyboard .backspace {
  width: 3em;
  background-color: grey;
}


#banner {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  position: absolute;
  display: block;
  top: 0;
}
#banner.hidden {
  display: none;
}

#replay {
  /* text-decoration: underline; */
  padding: 0.5em;
}
