
:root {
  --spaghetti-color: dodgerblue;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('../../public/fonts/inconsolata-v31-latin-regular.woff') format('woff');
}

html {
  font-family: 'Inconsolata';
}

a {
  color: var(--spaghetti-color);
  text-decoration-color: var(--spaghetti-color);
}

header span {
display: inline-block;
text-align: right;
}
header span sup {
position: relative;
left: 2em;
}

ul {
cursor: pointer;
}

ul, li {
list-style-type: none;
}

ul {
position: relative;
padding-left: 1.5em;
}

li {
position: relative;
}

li::before {
content: '';
position: absolute;
height: 0.5em;
width: 0.5em;
border-bottom: 1px solid var(--spaghetti-color);
top: 0.1em;
left: -1em;
}
li::after {
content: '';
position: absolute;
height: 100%;
width: 0.5em;
border-left: 1px solid var(--spaghetti-color);
top: 0.1em;
left: -1em;
}
li:last-child::after {
height: 0;
}

li:last-child::before {

height: 0.5em;
width: 0.5em;

border-left: 1px solid var(--spaghetti-color);
border-bottom: 1px solid var(--spaghetti-color);
border-bottom-right-radius: 0;
border-bottom-left-radius: 0.325em;
border-top-left-radius: 0;
top: 0.1em;
left: -1em;

}
