:root {
  --color1: dodgerblue;
}


html, button {
  font-family: 'Inconsolata', monospace;
}
#title {
  text-align: center;
  margin: 2em 0 1em;
}


main {
  text-align: center;
}


label {
  position: absolute;
  top: -22px;
  left: 16px;
}

.running-tool {
  border: 2px solid black;
  /* width: 200px; */
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .running-tool {
    max-width: 100%;
  }
}



/* The slider itself */
input[type=range] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 40px; /* Specified height */
  background: black;
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border: 1px solid black;
  border-radius: 22px;
  z-index: 1;
}

/* Mouse-over effects */
input[type=range]:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  background: white; /* Green background */
  border: 0px solid black;
  cursor: pointer; /* Cursor on hover */
  border-radius: 20px; z-index: 2;
}

input[type=range]::-moz-range-thumb {
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
  z-index: 2;
  border-radius: 20px;
  border: 0px solid black;
}

@media only screen and (min-width: 800px) {
  input[type=range] {
    height: 20px; /* Specified height */
    border-radius: 11px;
    z-index: 1;
  }
  input[type=range]::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px;
  }
  input[type=range]::-webkit-slider-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 10px;
    border: 0px solid black;
  }
}

/* WEEK PLANNER */

#week-planner {
  --color: dodgerblue;
  border-color: var(--color);
}

#week-planner > div.day {
  padding: 0;
  height: 25px;
}
#week-planner > div.day span {
  position: relative;
  display: inline-block;
  top: -8px;
}
#week-planner .total {
  text-align: right;
  width: 30px;
  font-size: 1.8em;
  position: relative;
  left: calc(100% - 32px);
  top: 2px;
  color: var(--color);
}
#week-planner .label {
  text-align: left;
  width: 16px;
}
#week-planner .output {
  text-align: left;
  width: 20px;
  left: 8px;
}
