@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('/../public/fonts/inconsolata-v31-latin-regular.woff') format('woff');
}
html {
  --color1: hotpink;
  --color2: darkviolet;
}
header {
  position: fixed;
  top: 0.45rem;
}

body {
  font-family: 'Inconsolata', inconsolata, monospace;
  font-size: 0.9;
}

#contents {
  /* font-size: 0.8rem; */
}

#main-container {
  max-width: 100%;
  /* background-color: beige; */
  transition: max-width 0.5s;
}

main {
  margin: auto;
  max-width: 600px;
  transition: max-width 0.5s;
}

/*
    when OPEN
      body.contents-open
*/

.contents-open #main-container {
  max-width: calc(100% - 42ch + 12rem);
  max-width: calc(100% - 52ch + 2rem);
}



@media only screen and (max-width: 970px) {

}

#contents-opener,  #contents-closer {
  position: fixed;
  color: var(--color1);
  cursor: pointer;
  height: 20px;
  width: 5ch;
  text-align: right;
  top: 3.5rem;
  right: 2rem;
  z-index: 20;
  transform: rotate(270deg);
  display: inline-block;
  /* background-color: red; */
  transition: opacity 0.5s;
  /* overflow-y: visible; */
}
#contents-opener {
  opacity: 1;
}
.contents-open #contents-opener  {
  opacity: 0;
}

#contents-closer {
  opacity: 0;
}
.contents-open #contents-closer {
  opacity: 1;
}

#contents-container {
  position: fixed;
  max-height: 8ch;
  height: 8ch;
  width: 0;
  top: 2rem;
  background-color: white;
  z-index: 10;
  transition: 0.5s;
  right: 2rem;
  border: 2px solid var(--color1);
  overflow-x: hidden;
  /* overflow-y: visible; */
  border-left-width: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
#contents-container::-webkit-scrollbar {
  display: none;
}
.contents-open #contents-container {
  max-height: calc(100vh - 3rem);
  height: calc(100vh - 4rem);
  width: 52ch;
  border-left-width: 2px;
}

#contents {
  overflow-x: hidden;
  box-sizing: content-box;
  margin: 1rem;
  max-width: 0;
}
.contents-open #contents {
  top: 0em;
  color: var(--color1);
  line-height: 1.4;
  z-index: 10;
  left: 0;
  max-width: 100%;
}

#contents > * {
  cursor: pointer;
  text-overflow: ellipsis ellipsis;
}
#contents > *:hover {
  opacity: 0.5;
}

#contents .current {
  color: black;
}

#contents > div {
  line-height: 1;
  padding-bottom: 0.4em;
}




#title {
  text-align: left;
  font-size: 2em;
  margin: 3rem 1rem 1rem;
  height: 4rem;
  background: url('../assets/Running Odes.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}
#subtitle {
  text-align: left;
  margin: 1em;
  box-sizing: border-box;
}

main div#divider {
  width: 100%;
  height: 2px;
  /* left: 0; */
  position: relative;
  background-color: var(--color1);
  /* display: inline-block; */
  /* overflow: visible; */
}

#poems {
  text-align: left;
  margin-bottom: 3em;
  z-index: 1;
  position: relative;
  margin: 1rem auto 3em;
  padding: 1rem;
}

.poem {
  text-align: left;
  margin: 2em auto;
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 51%;
  scroll-margin: 4em;
  z-index: 1;
}

.poem .title {
  margin-bottom: 1em;
  /* text-decoration: underline; */
  padding-bottom: 0.5em;
  border-bottom: 2px solid var(--color1);
  padding: 0 0.5em 0.5em;
  left: -0.5em;
  position: relative;
}
.poem .title, .distance, .date {
  display: inline-block;
  text-align: right;
}
.poem .body {
  white-space: pre;
  line-height: 1.4;
}
.foot {
  text-align: right;
  margin-top: 1em;
}
.poem .distance::before {
  content: '';
}
.poem .distance::after {
  content: ' - ';
}

/* .poem::after {
  content: '* * *';
  text-align: center;
  display: block;
  width: 100%;
  margin: 4em 0 0;
  color: var(--color1);
} */
/* ꩜ */
.poem-divider {
  color: var(--color1);
  text-align: center;
  margin: 2em 0;
}

.poem:has(+hr)::after, .poem:last-of-type::after {
  display: none;
  background-color: red;
}

hr {
  border-top: 2px solid var(--color1);
  height: 0px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0px solid var(--color1);
  margin: 4em -1rem;

}


#blurb {
  border-top: 2px solid var(--color1);
  box-sizing: border-box;
  padding: 1em;
}

footer {
  /* max-width: 60ch; */
  margin: 2em auto 4em;
  text-align: right;
  box-sizing: border-box;
}

a {
  color: dodgerblue;
  border-bottom: 2px solid dodgerblue;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
a:visited {
  color: darkmagenta;
  border-color: darkmagenta;
}
footer a:visited {
  color: var(--color1);
  border-color: var(--color1);
}

#font-size-container {
  display: none;
}

@media only screen and (max-width: 600px) {
  html, main {
    overflow-x: hidden;
    max-width: 100vw;
  }
  body {
    margin: 0px;
  }
  header {
    position: absolute;
    width: 100%;
  }
  header #loader {
    /* left: calc(100% - 3.5em); */
    left: calc(50% - 1.25em);
    top: 2em;
    top: 1.75em;
  }
  #title {
    margin-bottom: 1em;
    margin-top: 5.5em;
    /* margin-top: 6em; */
  }
  #contents-container {
    /* position: relative; */
    width: 2.5em;
    width: 4em;
    height: 2.5rem;
    right: 0;
    top: 1em;
    /* left: 0; */
    top: 0;
    border-left-width: 2px;
    z-index: 11;
  }
  #main-container {
    width: 100%;
    max-width: 100%;
  }
  .contents-open #contents-container {
    max-height: 100%;
    height: 100%;
    width: 100%;
  }
  .contents-open #main-container {

    max-width: 100%;
  }
  #contents-opener, #contents-closer {
    /* position: relative; */
    top: 2.5em;
    top: 0.7em;
    /* left: 0; */
    right: 0.75em;
    transform: rotate(0deg);
  }
  .poem .title {
    /* left: calc(-0.5em - 8px);
    padding-left: calc(0.5em + 8px); */
    padding-right: calc(0.5em + 8px);
    padding-left: 1.5rem;
    left: -0.5rem;
  }
  #poems {
    padding: 1rem 0;
  }
  .poem {
    /* margin: 2em 2em; */
  }
  .poem .body {
    overflow-x: scroll;
    padding-left: 1rem;
  }
  .poem .foot {
    padding: 0 1rem;
    min-width: 100vw;
    box-sizing: border-box;
  }

  #font-size-container {
    display: inline-block;
    border: 2px solid var(--color1);
    width: 4rem;
    height: 2.5rem;
    position: fixed;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    z-index: 10;
  }
  #font-size-container button {
    border: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    margin: 0;
    color: var(--color1);
    /* font-weight: bold; */
    font-size: 1rem;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
  }
  #font-size-container #font-size-dec {
    left: 0;
  }
  #font-size-container #font-size-inc {
    right: 0;
  }
  #blurb {
    padding-top: 3rem;
  }
  footer {
    padding: 0 1rem;
  }
}
