body {font-family: monospace;}
.slidecontainer {
  width: 150px; /* Width of the outside containerposition:relative; */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 20px; /* Specified height */
  background: black; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border: 1px solid black;
  border-radius: 11px;
  z-index: 1;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slideline {height: 1px; width: 130px; background: #d3d3d3; position:absolute; top: 11px; left: 11px; overflow:visible; z-index: 0;}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: white; /* Green background */
  border: 0px solid black;
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px; z-index: 2;
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: dodgerblue; /* Green background */
  cursor: pointer; /* Cursor on hover */
  z-index: 2;
  border-radius: 50%;
  border: 0;
  background: white;
}

#readoutnote {font-size: 30pt;}

#chicken {transform: rotate(0deg); z-index: -1; transition: 0s;}

.bodybgpads {position: fixed; top: -10vh; height: 120vh; width: calc(60vw - 26ch); min-width: 0; z-index: -200; opacity: 0.5;}
.bgpadl {left: -10vw; background-image: linear-gradient(to left, white, oldlace); } /*antiquewhite, blanchedalmond, bisque, PapayaWhip*/
.bgpadr {right: -10vw; background-image: linear-gradient(to right, white, oldlace); }

#inner-chicken-clicker1, #inner-chicken-clicker2 {width: 50%; height: 100%; position: absolute;}
#inner-chicken-clicker1 {left: 0;}
#inner-chicken-clicker2 {right: 0;}

#gridlines {
  line-height: 0.75;
}


#guitar-neck sub {
  width: 0;
  display: inline-block;
  left: -0.6em;
  position: relative;
}
#guitar-neck sup {
  width: 0;
  display: inline-block;
  left: 0em;
  line-height: 0;
  position: relative;
}

#guitar-neck .open-note {
  /* color: red; */
  font-weight: bold;
}

#piano sup {
  width: 0;
  display: inline-block;
  line-height: 0;
}
